<h1>Demo#hello</h1>
<p>Hello World!</p>
<%= 1+2*3/4 %>
<% @array.each do |n| %>
	<%= n %>
<%end%>

<%= link_to('index page 1', {:action => 'index'})%> <br>
<a href="demo/index">index page 2</a>

Id : <%= @id %>
Page : <%= @page + 1%>

